<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- BT logs -->
    <appender name="BT" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/business-tools-ui.log" />
        <param name="Threshold" value="DEBUG" />
        <param name="MaxBackupIndex" value="30" />
        
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t [%-40.40c] %x - %m%n"/>
        </layout>
    </appender> 

    <!-- BT Jobs logging -->
    <appender name="Jobs" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/business-tools-jobs.log" />
        <param name="Threshold" value="DEBUG"/>
        <param name="MaxBackupIndex" value="30" />
        
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t [%-40.40c] %x - %m%n"/>
        </layout>
    </appender>

    <category name="com.bestbuy.search.merchandising.jobs" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="Jobs"/>
    </category>
  
    <category name="com.bestbuy.search.merchandising" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="BT"/>
    </category>
    
    <category name="org.springframework" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="BT"/>
    </category>
    
    <category name="org.hibernate" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="BT"/>
    </category>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="BT"/>
    </root>

</log4j:configuration>