<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- BT logs -->
    <appender name="BT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/business-tools-ui.log" />
        <param name="Threshold" value="DEBUG" />
        
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n"/>
        </layout>
    </appender> 

    <!-- BT Jobs logging -->
    <appender name="Jobs" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/business-tools-jobs.log" />
        <param name="Threshold" value="DEBUG"/>
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n"/>
        </layout>
    </appender>

    <!-- Console Logging -->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n"/>
        </layout>
    </appender>

    <category name="com.bestbuy.search.merchandising.jobs" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="Jobs"/>
        <appender-ref ref="Console"/>
    </category>
  
    <category name="com.bestbuy.search.merchandising" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="BT"/>
        <appender-ref ref="Console"/>
    </category>
    
    <logger name="org.springframework">
    	<level value="DEBUG"/>
        <appender-ref ref="BT"/>
        <appender-ref ref="Console"/>
    </logger>
    
    <logger name="org.hibernate">
    	<level value="INFO"/>
        <appender-ref ref="BT"/>
        <appender-ref ref="Console"/>
    </logger>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </root>

</log4j:configuration>