html, body{
   height:100%;
}
body {
	font-family:Helvetica;
	padding:0;
	margin:0;
	background:#f4f4f4 !important;
}
a {
outline: none;
}
a img {outline : none;}
img {border : 0;}
a:active, a:focus { 
 outline: none; 
 ie-dummy: expression(this.hideFocus=true);
}
a:active { outline: none; }
aside, figure { margin:0; padding:0; }
#main {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
.login_bg {
	height:100%;
	background:url(../images/bestbuy/login_bg.jpg) repeat-x #003b64;
}
.login_div {
	width:410px;
	margin:auto;
	margin-top:16.5%;
}
.login_panel {
	width:100%;
	background:#ebebeb;
	border:5px solid #003961;
	-webkit-border-radius: 12px;
	border-radius: 12px; 
	margin-top:20px;
}
/* for data table start */
.dataTables_length{
	display:none;
}
.dataTables_info{
	display:none;
}

/* #example_filter{
	display:none;
}
#example_length{
	display:none;
} */
/* for data table end */
.login_header {
	width:100%;
	height:29px;
	border-bottom:1px solid #c9c9c9;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	text-align:center;
	padding-top:13px;
	-webkit-border-radius: 12px 12px 0px 0px;
	border-radius: 12px 12px 0px 0px; 
}
form.login_cont {
	padding:14px;
	margin:0;
}
.login_cont input {
	width:368px !important;
	margin-bottom:16px;
	padding:6px 6px;
}
.btn_style {
	background:#003b64;
	text-transform:uppercase;
	font-size:12px;
	border:none;
}
.btn_disable {
	background:#b7cad4 !important;
	cursor:default;
}
.btn_style:hover { background:#125786; }
.inner_header {
	width:97%;
	background:url(../images/bestbuy/inner_header_bg.jpg) repeat-x;
	height:74px;
	padding:0 1.5%;
	position:fixed;
}
figure.logo {
	float: left;
	margin: 11px 0 0 0;
	padding: 0;
	top: 0px;
	position: absolute;
}
.header_right {
	float:right;
}
.header_txt {
	float:right;
	color:#F8EB1C;
	font-size:14px;
	font-weight:bold;
	margin-left:20px;
	margin-top:16px;
}
.header_txt a {
	text-decoration:none;
	color:#F8EB1C !important;
}
.header_txt :hover{
	color:#F8EB1C;
}
.logout_ipad {
	background:url(../images/bestbuy/logout_icon.png) no-repeat left;
	padding-left:56px;
	line-height:44px;
	cursor:pointer;
}
.admin_menu {
	background:url(../images/bestbuy/admin_menu_icon.png) no-repeat left;
	padding-left:56px;
	line-height:44px;
	cursor:pointer;
}
.user_ipad {
	/*background:url(../images/bestbuy/user_icon.png) no-repeat left;*/
	/*padding-left:56px;*/
	line-height:44px;
}
.login_right { float:right; margin-top:16px; color:#F8EB1C; font-size:14px; font-weight:bold; }
.id_ipad {
	background:url(../images/bestbuy/id_icon.png) no-repeat left;
	padding-left:56px;
	line-height:44px;
}
.header_txt img {
	margin-right:12px;
}

.content_section {
	width:100%;
	margin:0px 0 0 0;
	padding:0;
}
.tab_head {
	background:#ebebeb;
	padding-top:93px;
}
.tab_head .nav-tabs {
	padding-left:1.5%;
	margin:0;
}
.tab_head .nav-tabs > li {
	margin-right:12px;
}
.tab_head .nav-tabs > li > a {
	background:#006ba9;
	color:#FFFFFF;
}
.tab_head .nav-tabs > li > a {
	background: #005b9c; /* Old browsers */
	background: -moz-linear-gradient(top,  #005b9c 0%, #006caa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005b9c), color-stop(100%,#006caa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #005b9c 0%,#006caa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #005b9c 0%,#006caa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #005b9c 0%,#006caa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #005b9c 0%,#006caa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b9c', endColorstr='#006caa',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
	padding:4px 10px;
	border-radius: 6px 6px 0 0;
}
.tab_head .nav-tabs > li > a:hover {
	background: #005b9c; /* Old browsers */
	background: -moz-linear-gradient(top,  #005b9c 0%, #006caa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005b9c), color-stop(100%,#006caa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #005b9c 0%,#006caa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #005b9c 0%,#006caa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #005b9c 0%,#006caa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #005b9c 0%,#006caa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b9c', endColorstr='#006caa',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
	border: 1px solid transparent;
}
.tab_head .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background:#f4f4f4;
	color:#000000;
}
.tab_head .nav-tabs > .active a:hover {
	background:#f4f4f4 !important;
	color:#000000;
}
.tab_content {
	margin:0;
	overflow-y: auto;
	margin-bottom:88px;
}
.title_actions {
	padding:0;
	margin-bottom:6px;
}
.content_title {
	float:left;
	padding-left:1%;
	margin-top:5px;
}
.content_title h1 {
	font-size:16px;
	color:#000000;
	padding:0;
	margin:19px 0 0 0;
	line-height:0;
	float:left;
}
.content_title span {
	float:left;
	font-size:13px !important;
	margin:9px 0px 0px 8px;
}
.actions_div {
	float:right;
	padding:0 1% 0% 1%;
	margin-top:3px;
}
.clear {
	clear:both;
}
.flt_left { float:left; }
.flt_right { float:right; }
.action_icons {
	float:right;
	margin-left:12px;
	cursor:pointer;
}
.header_right {
	float: right;
	color: #FFF;
	font-size: 12px;
	margin-top: 16px;
	padding-left: 90PX;
}
.header_right b {
	font-size:13px;
}
.logout {
	padding-top:8px;
	cursor:pointer;
	color:#FFEb18;
}

.admin_border {
	/*border-right:1px solid #ccc;*/
	padding-right:10px;
}
.admin_border a {
	color:#FFEb18;
	text-decoration:none;
}
.action_btn {
	background:#003b64;
	border-radius: 6px;
	padding:6px 11px 7px 11px;
	border:none;
}
.pagination_btn {
	background:#003b64;
	border-radius: 6px;
	padding:3px 11px 3px 11px;
	border:none;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	margin-right:10px;
	margin-left:8px;
}
.page_active {
	background:#d8d161 !important;
}
.actions_txt {
	margin-top:6px !important;
	font-weight:bold;
}
.tab_table {
	border-width:0 !important;
	width:98%;
	margin:auto;
}
.tab_table th {
	background:#006ba9;
	color:#FFFFFF;
	text-align:left !important;
	font-size:13px !important;
	border-radius: 8px 8px 0px 0px !important; 
	vertical-align:middle !important;
}
.tab_table tbody {
	background:#dbe6ec !important;
	border:1px solid #d4d4d4 !important;
}
.tab_table tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #e8edf0;
}
.tab_table th, .tab_table td {
    border-left: 1px solid #f4f4f4;
	border-top:1px solid #f4f4f4;
}
.tab_table th:first-child, .tab_table td:first-child {
    border-left:none;
}
.tab_table td {
	font-size:12px;	
}
.tab_table td span {
	color:#1184c6;
}
.tab_table td.center_td {
	text-align:left !important;	
}
.footer {
	background:#004571;
	line-height:38px;
	font-size:11px;
	text-align:center;	
	color:#FFF;
	position:fixed;
	bottom:0;
	width:100%;
}
.showall_btn {
	background:#003b64;
	border-radius: 6px;
	border:none;
	line-height:28px;
	color:#FFF;
	font-size:11px;
	text-transform:uppercase;
	padding:0px 7px !important;
}
.actions_div input[type="text"], select {
	width: 160px;
}
.remove_cat { float:right; margin-right:12px; margin-top:11px; margin-bottom:5px; }
.search_td {  
	background:#006BA9;
}

/*STYLE FOR FACET ORDERING PAGE*/

.facet_left_cont {
	float:left;
	width:28%;
	background:#ededed;
	border-radius:6px;
	border:1px solid #cdcdcd;
	overflow:hidden;
	line-height:30px !important;
}
.facet_right_cont {
	float:right;
	width:70%;
	padding-bottom:1%;	
}
.facet_heading {
	font-size: 16px;
	color: #000;
	padding: 0;
	margin: 10px 0 20px 0;
	line-height: 0;	
	font-weight:bold;
}
.facet_right_cont h1 {
	font-size:14px;
	margin:10px 0 10px 0;
	padding:0;
	color:#0061a1;	
	line-height:0;
}
.facet_txt {
	font-size:13px;
	margin: 5px 0;
}
.user_admin {
	background:#ededed;
	border-radius:6px;
	border:1px solid #cdcdcd;
	line-height:25px;
	padding:6px 10px;
	margin-bottom:10px;
	font-size:15px;
	font-weight:bold;
}	
.user_admin span {
	font-size:12px;
	color:#737373;
	font-weight:normal;	
}
.drop_td {
	text-align:left;
}
.drop_td span {
	padding:0 15px;
	color:#333333;
}
.tree_loading { padding:8px; }
.tabheader { cursor:pointer; }
.tabheader img { margin-left:5px; }

/**************************** STYLES FOR POPUP STARTS ******************************************/


.bbyellowbtn ,.bbyellowbtn:hover{
	background: #f8eb1c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8eb1c 0%, #d0c515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8eb1c), color-stop(100%,#d0c515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8eb1c 0%,#d0c515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8eb1c 0%,#d0c515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8eb1c 0%,#d0c515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8eb1c 0%,#d0c515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8eb1c', endColorstr='#d0c515',GradientType=0 ); /* IE6-9 */
	color: #000000;
	padding: 10px 28px;
	font-weight: bold;
	font-size: 15px;
	border-radius: 6px;
}
.bbbluebtn ,.bbbluebtn:hover{
	background: #084d7d;
	color: #ffffff;
	font-size: 12px;
}
.boost_pop {
	width:850px !important;
	margin-left:-425px !important;
}
.bbmodal {
	border-radius: 12px !important;
	width: 605px;
	margin-left: -305px;
}
.bbmodal .modal-header {
	background: #dedede;
	padding: 3px 15px;
	border-top-left-radius: 6px;
	border-top-right-radius: 12px;
}
.bbmodal .modal-header  .close{
	margin-top: 7px;
	opacity: 0.5;
	font-size: 35px;
}
.bbmodal .modal-body, .bbmodal .modal-footer {
	background: #20719f; /* Old browsers */
	background: -moz-linear-gradient(top,  #20719f 0%, #003c66 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20719f), color-stop(100%,#003c66)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #20719f 0%,#003c66 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #20719f 0%,#003c66 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #20719f 0%,#003c66 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #20719f 0%,#003c66 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20719f', endColorstr='#003c66',GradientType=0 ); /* IE6-9 */
}
.bbmodal .modal-body h4{
	color: #fff;
	margin-top: 0px;
}
.bbmodal .modal-body {
	padding: 15px 15px 0px 15px;
}
.bbmodal .modal-footer {
	background: #003c66;
	border-top: 0px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-align: center;
}
.bbmodal input[type="text"], .bbmodal input[type="date"] {
	margin-bottom: 0px !important;
	width: 410px !important;
	padding: 2px 6px;
}
.bbmodal select {
	margin-bottom: 0px !important;
	width: 424px;
}

.bbmodal .popover-inner select {
	width:auto !important;	
}

.bbmodal table .radio{
	padding-top: 0px !important;
	margin-right:2%;
}
.bbmodal sup{
	color: red;
	font-size: 13px;
	font-weight: bold;
}

.startdate-error, .enddate-error {
	color: red;
}

.greenfont, .greenfont:hover {
	color: #5ea83e;
	text-decoration: none;
}
.greenfontAsset, .greenfontAsset:hover {
	color: #5ea83e;
	text-decoration: none;
}
.greenfont-bannertpl, .greenfont-bannertpl:hover {
	color: #5ea83e;
	text-decoration: none;
}
.textdate {
	width: 310px !important;
}
.smallselect {
	width: 50px !important;
}
.bbmodal table tr td:first-child {
	min-width: 110px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.bbmodal table tr td:last-child {
	border-bottom: 1px solid #ffffff;
}
.bbmodal table tr:last-child td {
	border-bottom: none !important;
}
.bbmodal table tr:last-child {
	border-bottom-radius: 6px !important;
}
.bbmodal h4 {
	font-size: 16px !important;
}
.addsynonymmodal, .addmodaltheme {
	background: #f7f7f7;
	border-radius: 6px !important;
}
.addsynonymmodal table, .addmodaltheme table{
	width: 100%;
}
.addsynonymmodal table tr td, .addmodaltheme table tr td {
	padding: 7px 5px;
	font-size: 13px;
}
.addsynonymmodal table tr:nth-child(even) {
	background: #ebebeb;
}
.addmodaltheme table tr:last-child td:first-child {
	background: #ebebeb;
	border-bottom-left-radius: 6px;
}
.addmodaltheme table tr:last-child td:last-child {
	background: #ebebeb;
	border-bottom-right-radius: 6px;
}
.addterms.addterms-bannertemplate {
	width: 97% !important;
	height: 50px !important;
}
.addterms {
	width: 390px !important;
	height: 50px !important;
}
.sub_cat {
	padding: 10px 15px;
}
.sub_cat input[type="text"] {
	margin-bottom: 0px !important;
	width: 150px !important;
}
.sub_cat input[type="checkbox"] {
	margin-bottom: 6px !important;
}
.iconclose {
	background:url(../images/bestbuy/toggle_close_arrow.PNG) no-repeat center !important;
	width: 14px;
	height: 14px;
	float: left;
	margin: 5px 0 0 6px;
}
.iconopen {
	background:url(../images/bestbuy/toggle_open_arrow.PNG) no-repeat center !important;
	width: 14px;
	height: 14px;
	float: left;
	margin: 5px 0 0 6px;
}
.center_td img {
	margin-left:4px;	
	margin-top:2px;
}
.center_td a {
	margin-left:6px;	
	margin-top:2px;
}
.center_td a img {
	margin:0px !important;
}

.data {
	background: #DBE6EC !important;
	padding: 0px !important;
}
.data table tbody tr td {
	background: #DBE6EC !important;
	border: none !important;
	padding: 4px 8px 4px 8px !important;
}
.data .delimage {
	float: right;
	margin-right: 10px;
}
.search_control{
	display:none !important;
}

.terms_eachtab {
	background: #EBEBEB;
	border-radius: 6px;
	color: #686868;
	border: 1px solid #cacaca;
	float: left;
	margin-bottom: 8px;
	margin-right: 5px;
	font-size: 12px !important;
	padding: 2px;
	cursor:pointer;
	max-width:300px;
	word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;
}
.terms_eachtab img {
	margin-left: 7px;
	padding: 0px 2px;
}
.terms_tabs a {
	float: right;
	margin: 2px 18px;
}
.terms_eachmain {
	width: 330px;
	max-height: 60px;
	color:#2779AA;
}
.addtermssmall {
	width: 310px !important;
	height: 50px;
}
#TextBoxDiv1,#TextBoxDivFacet1 {
	border-bottom: 1px solid #a1a1a1;
}
.addremovebutt a {
	margin: 10px 0px 10px 10px;
}
.flt_right {
	float: right;
}
.bannerselectdata, .threeheaddata {
	padding: 10px;
	border-bottom-radius: 12px;
}
.bannerselectdata textarea, .threeheaddata textarea {
	width: 97%;
}
.threeheaddata input[type="text"] {
	width: 498px !important;
	margin-bottom:6px !important;
}
#oneheadbanner input[type="text"] {
	width: 500px !important;
	margin: 10px 0 0 11px;
}
.threeheaddata {
	background: #eaeaea;
	margin: 10px;
	border-radius: 12px;
}
#simplehtmlbanner input[type="text"] {
	width: 275px !important;
}
.datatable {
	padding: 10px;
	background: #f7f7f7;
	border-radius: 6px;
}
.facetsaddmodal input[type="text"], .facetsaddmodal input[type="date"] {
	margin-bottom: 0px !important;
	width: 150px !important;
	padding: 2px 6px;
}
.facetsaddmodal select {
	width: 164px !important;
}
.facetsaddmodal {
	width: 1000px !important;
	margin-left: -502px !important;
}
.facetsaddmodal .addfacetsdiv {
	width: 310px;
	float: left;
	margin-right: 10px;
}
.facetsaddmodal .addfacetsdivlast {
	margin-right: 0px !important;
}
.addfacetsdiv table {
	height: 378px !important;
}
.addfacetsdivmid table tr td, .addfacetsdivlast table tr td {
	border-right: 0px !important;
	font-size: 11px;
}
.addfacetsdivmid table tr td span {
	font-size: 13px !important;
}
.addfacetsdivlast table tr td label {
	font-size: 13px !important;
}
.facetsaddmodal .addsynonymmodal table tbody tr td {
	min-width: 105px !important;
}
.facetsaddmodal .addsynonymmodal table tbody tr:last-child td:first-child, .facetvalues table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 6px !important;
}
.facetsaddmodal .addsynonymmodal table tbody tr:last-child td:last-child, .facetvalues table tbody tr:last-child td:first-child {
	border-bottom-right-radius: 6px !important;
}
.bluefont {
	color: #1f6f9c;
	font-weight: bold;
}
.facetsaddmodal .shsel {
	width: 140px !important;
}
.facleft {
	margin-left: 20px;
	margin-top:8px;
}
ul#left li:hover, ul#right li:hover,  ul#left li.field_act {
	background:#CFCFCF;
}
.banner_dropdown span { margin:0 15px; }
.alert_msg { width:95%; margin:auto; background:#f3eed4 !important; border:1px solid #f1deba !important; display: block; text-align: center;}
.sort_td td { font-size:12px !important; line-height:26px; }
.facetvalues table thead {
	background: #c0c0c0;
	color: #ffffff;
	font-weight: bold;
}
.facetvalues table tr td {
	border-right: 1px solid #ffffff;
}
.facetvalues table tr td:last-child {
	border-right: 0px !important;
}
.facetvalues table thead tr td:first-child {
	border-top-left-radius: 6px;
}
.facetvalues table thead tr td:last-child {
	border-top-right-radius: 6px;
}
.facetvalues .center_td {
	text-align: center !important;
} 
.facetvalues .center_td img, .facetvalues .center_td input {
	margin-left: 4px;
	margin-top: 0px;
}
.inlineFacet {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}
.inlineFacet input {
	margin-left: -18px !important;
}
.sub_cat_facet {
	padding: 0px 15px;
	line-height: 28px;
}
.sub_cat_facet_dynamic_div {
	padding: 0px 15px;
	line-height: 28px;
}

#TextBoxesFacet .bbtreeview {
	padding-top: 1px;
}
.facetattrmodal {
	width: 550px;
}
.facetattrmodal.fade.in {
	top: 25%;
}
.facetattrmodal .modal-header {
	padding: 1px 15px;
	background: #cacaca; /* Old browsers */
	background: -moz-linear-gradient(top,  #cacaca 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacaca), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cacaca 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cacaca 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cacaca 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cacaca 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.facetattrmodal .modal-header button {
	margin-top: 8px;
}
.facetattrdiv input {
	width: 425px;
}
.facetattrdiv ul {
	height: 250px;
	border-radius: 12px;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 250px;
	background: #f2f2f2;
	overflow-y: auto;
	border: 1px solid #cfcfcf;
}
.facetattrdiv {
	padding-bottom:10px;
}
.facetattrdiv span {
	font-weight:bold;
	padding:0px 0px 5px 4px;
}
.facetattrdiv div.facet_pop h1 {
	font-size:13px;
	margin:0;
	padding:0;
}

.facetattrdiv ul li {
	padding: 5px 12px;
	border-bottom: 1px solid #cfcfcf;
	cursor:pointer;
}
.facetattrdiv ul li:last-child {
	border-bottom: none;
} 
/*CSS realated to Boost_Block modal*/
#Boost_Block .modal-body {
	max-height: 455px !important;
}
#Boost_Block {
	width: 725px;
	margin-left: -360px;
}
.boostblockone {
	padding: 10px;
	background: #ffffff;
	border-radius: 12px;
	margin-bottom: 17px;
}
.boostblocktwo {
	color: #ffffff;
}
.boostblocktwo .sub_cat {
	background: #ffffff;
	color: #000000;
	border-radius: 12px;
	line-height: 24px;
	font-size: 13px;
}
.boostblockthree {
	color: #ffffff;
}

.boostblockthree .sub_cat {
	background: #ffffff;
	color: #000000;
	border-radius: 12px;
	line-height: 24px;
	font-size: 13px;
}


.boostblockone input[type="text"] {
	width: 206px !important;
	margin-left: 3px;
}
.boostblockone select {
	width: 220px !important;
}	
.facetvalues {
	color: #000;
}
.facetvalues table tr td {
	min-width: 20px !important;
}
.facetvalues .bbbluebtn {
	font-size: 11px;
	padding: 2px 7px;
}
.boostfooter a {
	margin: 10px;
}
.no_data { width:98%; margin:auto; text-align:center; font-weight:bold; padding-top:15px; }
.bbdate {
	position: absolute;
	margin-top: 5px;
	right: 32px;
}
.ui-datepicker {
	left: 530px !important;
	top: 172px;
}
input.datetimepicker {
	background:url(../images/bestbuy/cal_grey.jpg) no-repeat right center #FFF;
}

#Add_banners {
    width: 622px;
}
.sucess_msg { color:#1e8a44; background:#beffd5; border:1px solid #9af3ba; font-size:11px; font-weight:bold; text-align:center; float:left; margin-left:20px; margin-top:5px; padding:3px 14px;  }
.error_msg { color:#ff0000; background:#ffcdcd; border:1px solid #ff8282; font-size:11px; font-weight:bold; text-align:center; float:left; margin-left:20px; margin-top:5px; padding:3px 14px;  }
.delete_td { background:#d5d5d5; }
.bbmodal table.delete_td  tr td:first-child { border-bottom:none !important; border-right:none !important; }
.bbmodal table.delete_td  tr td { border-bottom:none !important; }
.order_input { margin-bottom:0 !important; }
.pop_error { color:#ff0000; background:#ffcdcd; border:1px solid #ff8282; font-size:11px; font-weight:bold; text-align:center; margin-top:5px; line-height:28px; margin-bottom:3px; border-radius:5px; margin-top:-10px; display: none;}
/**************************** STYLES FOR POPUP ENDS ******************************************/

/**************************** STYLES FOR TREEVIEW STARTS *************************************/

.jstree-default li, 
.jstree-default ins { background-image:url(../images/bestbuy/d.png); background-repeat:no-repeat; background-color:transparent;  }
.jstree-default li { background-position:-90px 0; background-repeat:repeat-y; color:#0068A7 !important;  }
.jstree-default li a ins.jstree-icon { margin-right:5px !important; }
.jstree-default li a { cursor:pointer; padding:4px 2px 6px 2px; color:#0068A7 !important;  }
.jstree-default li a:hover { background:#dcdcdc;  }
.jstree-default li.jstree-last { background:transparent; }
.jstree-default .jstree-open > ins { background-position:-74px -34px; }
.jstree-default .jstree-closed > ins { background-position:-56px -34px; }
.jstree-default .jstree-leaf > ins { background-position:-35px 4px; }

.jstree-default .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree-default .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree-default a .jstree-icon { background-position:-57px -17px; }
.jstree-default a.jstree-loading .jstree-icon { background:url(../images/bestbuy/throbber.gif) center center no-repeat !important; }

.jstree-default.jstree-focused { /*background:#ffffee;*/ }

.jstree-default .jstree-no-dots li, 
.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-default .jstree-no-icons a .jstree-icon { display:none; }

.jstree-default .jstree-search { /*font-style:italic;*/ }

.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url(../images/bestbuy/d.png) -2px -53px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url(../images/bestbuy/d.png) -18px -53px no-repeat !important; }
#jstree-marker.jstree-default { background:url(../images/bestbuy/d.png) -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-default a.jstree-search { color:aqua; }
.jstree-default .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:black; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }
a.selected { background:#dcdcdc; }

/* IE6 BEGIN */
.jstree-default li, 
.jstree-default ins,
#vakata-dragged.jstree-default .jstree-invalid, 
#vakata-dragged.jstree-default .jstree-ok, 
#jstree-marker.jstree-default { _background-image:url(../images/bestbuy/d.gif); }
.jstree-default .jstree-open ins { _background-position:-72px 0; }
.jstree-default .jstree-closed ins { _background-position:-54px 0; }
.jstree-default .jstree-leaf ins { _background-position:-36px 0; }
.jstree-default a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-default-context ins { _display:none; }
#vakata-contextmenu.jstree-default-context li { _zoom:1; }
.jstree-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */


/**************************** STYLES FOR TREEVIEW ENDS ******************************************/




/* *****************************STYLES FOR SLIDER MENU FOR IPAD VIEW****************************** */


.extruder{position:fixed; z-index:100 !important; cursor:default; }
.extruder .header{height:27px;}
.extruder .content{display:none; background:#000000;}
.extruder.open .content{-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder .footer{display:none;height:10px;background:#000000;-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.top .flap{color:#ffffff; text-align:center;display:block;margin:auto;padding:0 5px 5px 5px;height:30px;width:180px;background:#000000; cursor:pointer;-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;text-shadow:2px 2px 2px #333333;}
.extruder.top .content{-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.extruder.bottom .flap{position:relative;color:white;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;margin-top:1px;padding:0 5px 5px 5px;height:30px;width:180px;background:#000000;cursor:pointer;-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;text-shadow:2px 2px 2px #333333;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.bottom .footer{-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;position:relative;margin-top:-5px;}
.extruder.bottom .content{-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.extruder.bottom .ext_wrapper{bottom:0;}
.extruder.left{height:100%; }
.extruder.left.open .content{-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.left .content{border:0px solid #000000;}
.extruder.left .ext_wrapper{height:100%;}
.extruder.left .footer{display:none;}
.extruder.left .flap{
	font-size:16px;
	color:white;
	top:0;
	padding:10px 0 10px 5px;
	margin-right:-27px;
	background:#004571;
	width:25px;
	position:absolute;
	right:0;
	-moz-border-radius:0 8px 0 8px;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:8px;
	border-top-left-radius:0;
	border-top-right-radius:8px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:8px;
}
.extruder.left .flap .flapLabel{background:#004571;}


/* *****************************STYLES FOR SLIDER MENU FOR IPAD VIEW  ENDS****************************** */


.login_cont input { margin-bottom:16px !important; }
.showdiv { display:none; }
.hideContent { display:none; }
.search_control {
	float:right;
}
.action_icons .page_txt {
	margin:5px 0 0 0;
}
.page_txt {
	margin:10px 0 0 0;
	width:31px !important;
	padding:2px 3px !important;
	text-align:center;
	font-size:11px !important;
}
#tablefooter { color:#333; margin-bottom:4px; }
#tablefooter .page_txt {
	width:31px !important;
	margin-top:4px;
}
.facet_ordering {
	width:98%;
	margin:28px auto auto auto;
}
.facet_ordering .tab_table {
	width:100%;
	margin-bottom:10px;
}
.alertmodal {
	width:350px;
	padding-bottom:15px;
	top:35% !important;
	left:60% !important;
}
.alertmodal h4 {
	line-height:18px;
	margin:5px 0;
}
.pagination_div {
	position:fixed;
	width:100%;
	bottom:38px;
	background:#e8e8e8;
	border-top:1px solid #c5c5c5;
}
/*.action_wid {
	width:100px;
}
.match_wid {
	width:52px;
}
.syn_list_wid {
	width:85px;
}
.syn_type {
	width:70px;
}
.prim_width {
	width:105px;
}
.date_width {
	width:110px;
}*/
.prim_width {
	width:14%; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;  
}
.url_td { width:15% !important;  }
.term_td { width:14% !important; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;  }
.cat_td { width:28% !important;  }
.radio_style { margin:0 6px 0 0 !important; }

.border_div { border-top:1px solid #a1a1a1; padding:8px 8px; line-height:30px; }
.facet_border { border:1px solid #a1a1a1; padding:8px; line-height:30px; }
.banner_border { border:1px solid #a1a1a1; padding:8px; line-height:30px; margin:8px; }
.hand_sym { cursor:pointer; }
.block_sym { cursor: not-allowed; }
a.editable-click { border:none !important; }
.syn_list_wid {
	width:85px !important;
}

.searchinput {
	width: 100px;
	margin: 0px !important;
	padding:0px !important;
}

a.cancel_btn {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	margin-left:10px;
}


/******************** MEDIA QUERYIES STARTS ***************************************/

@media screen and (min-width : 768px) and (max-width: 1024px){
/*

.action_wid {
	width:100px !important;
}
.match_wid {
	width:52px !important;
}
.min_wid {
	width:61px !important;
}
.syn_list_wid {
	width:85px !important;
}
.syn_type {
	width:70px !important;
}
.prim_width {
	width:105px; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;  
}
.date_width {
	width:100px !important;
}

.sys_width {
	width:93px !important; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;
}
.att_width {
	width:75px !important; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;
}
.url_td { width:12% !important; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;  }
.term_td { width:15% !important; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;  }
.cat_td { width:28% !important; word-wrap: break-word; word-break: break-all; white-space: -moz-pre-wrap !important; white-space: -o-pre-wrap;  }
.modal-body .addsynonymmodal table {
	margin-bottom:12px !important;
}
.username {
	position:absolute;
	left:0;
	margin:10px 0px 0px 10px;
}
.userpermissions {
	position:absolute;
	right:14px;
	margin:10px 0px 0px 10px;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.55;
}
.bbmodal .modal-header h4 {
	margin:5px 0 !important;
}
.bbmodal .modal-header .close {
	margin-top:3px !important;
	display:none;
}
.modal-footer { position:absolute; background:none !important; top:0; right:0; width:100%; padding:6px 0 0 0; border-radius:0 !important;   }
.modal-footer a.bbyellowbtn { padding:2px 5px !important; font-size:11px; }
.modal-footer a.bbyellowbtn:last-child { 
	float:left; 
	margin-left:10px;
	background: #aeb1b6; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #aeb1b6 0%, #717483 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aeb1b6), color-stop(100%,#717483)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #aeb1b6 0%,#717483 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #aeb1b6 0%,#717483 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #aeb1b6 0%,#717483 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #aeb1b6 0%,#717483 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb1b6', endColorstr='#717483',GradientType=0 ); /* IE6-9 */
/*	color:#FFFFFF !important;
	text-shadow:none !important;
}
.modal-footer a.bbyellowbtn:first-child { float:right; margin-right:10px; }
.boost_footer a.bbyellowbtn:nth-child(2)
{
	float:right;
	margin-right:10px;
	background: #aeb1b6; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #aeb1b6 0%, #717483 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aeb1b6), color-stop(100%,#717483)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #aeb1b6 0%,#717483 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #aeb1b6 0%,#717483 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #aeb1b6 0%,#717483 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #aeb1b6 0%,#717483 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb1b6', endColorstr='#717483',GradientType=0 ); /* IE6-9 */
/*	color:#FFFFFF !important;
	text-shadow:none !important;
}
.modal-footer a.cancel_btn
{
	float:left;
	margin-top:3px;
	color:#4aa4d8;
}
.modal-header h4 { text-align:center; }
.modal-header {
	background: #f2f3f5; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #f2f3f5 0%, #cbced6 59%, #adb1bd 100%) !important; /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f3f5), color-stop(59%,#cbced6), color-stop(100%,#adb1bd)) !important; /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #f2f3f5 0%,#cbced6 59%,#adb1bd 100%) !important; /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #f2f3f5 0%,#cbced6 59%,#adb1bd 100%) !important; /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #f2f3f5 0%,#cbced6 59%,#adb1bd 100%) !important; /* IE10+ */
/*	background: linear-gradient(to bottom,  #f2f3f5 0%,#cbced6 59%,#adb1bd 100%) !important; /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f5', endColorstr='#adb1bd',GradientType=0 ) !important; /* IE6-9 */
/*	border-bottom:1px solid #a1a4ae;
}
.showdiv { display:block; }
.tab_head { display:none; }
.inner_header {
	background:url(../images/bestbuy/header_bg_ipad.jpg) repeat-x !important;
	height:54px !important;
	position:fixed;
}
.alert_msg { width:93%; margin:auto; background:#f3eed4 !important; border:1px solid #f1deba !important; display: none; text-align: center;}
figure.logo {
	float:none;
	margin:auto;
	width:57px;
	height:32px;
	padding-top:7px;
}

.header_txt {
	margin:12px 15px 0 0;
	padding:0;
	position:absolute;
	right:0;
}
.logout_ipad { 
	background:url(../images/bestbuy/logout_icon_ipad.png) no-repeat !important;
	padding-left:0 !important;
	width:28px;
	height:30px;
	cursor:pointer;
	color:#FFEb18;
}

.admin_menu { 
	background:url(../images/bestbuy/admin_menu_ipad.png) no-repeat !important;
	padding-left:40px !important;
	height:30px;
	cursor:pointer;
	float:right;
	line-height:30px;
	margin-right:60px;
}

.id_ipad {
	margin:11px 60px 0 0 !important;
	background:url(../images/bestbuy/id_icon_ipad.png) no-repeat !important;
	padding:0 0 0 42px;
	margin:0;
	line-height:33px;
}
.user_ipad {
	background:url(../images/bestbuy/user_icon_ipad.png) no-repeat left;
	position:absolute;
	left:0;
	margin-left:12px;
	padding-left:42px;
	line-height:33px;
	margin-top:11px !important;
}
.actions_div {
	float:none;
	background: #ffffff; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #ffffff 0%, #d8d8d8 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #ffffff 0%,#d8d8d8 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
/*	padding-top:5px;
	padding-bottom:5px;
	padding-right:1%;
	padding-left:1%;
	border-bottom:1px solid #c3c3c3;
	width:98%;
	position:fixed;
	margin-top:47px;
}
.content_title {
	margin:0;
	padding:0% 1% 1% 1%;
	width:98%;
	margin-top:92px;
}
.content_title span {
	float:right;
	font-size:14px !important;
}
.search_control {
	float:left;
	display:block !important;
}
.search_control .action_icons {
	margin-left:0;
	margin-right:12px;
	cursor:pointer;
}

.logout_ipad span { display:none; }
.tab_table {
	background:none;
	border:1px solid #dbdbdb;
	width:98%;
	margin:auto;
}
.tab_table th {
	background: #0f83be; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #0f83be 0%, #005e93 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f83be), color-stop(100%,#005e93)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #0f83be 0%,#005e93 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #0f83be 0%,#005e93 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #0f83be 0%,#005e93 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #0f83be 0%,#005e93 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f83be', endColorstr='#005e93',GradientType=0 ); /* IE6-9 */
/*	color:#FFFFFF;
	font-size:12px !important; 
}
.search_txt {
	padding:0px !important;
}
.searchinput{
	display:none !important;
}
.tab_table td {
	background: #ffffff; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #ffffff 0%,#ececec 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
/*	font-size:12px !important;
}
.tab_table tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color:none;
}
.tab_table th, .tab_table td {
    border-left: 1px solid #e4e4e4;
	border-top:1px solid #e4e4e4;
}
.footer {
	background:#004571;
	line-height:26px;
	font-size:10px;
	text-align:center;	
	color:#FFF;
	position:fixed;
	bottom:0;
	width:100%;
	display:none;
}

.showdiv .nav-tabs > li {
	margin-right:12px;
	border-radius:none !important;
	width:100%;
}
.showdiv .nav-tabs > li > a {
	background:#006ba9;
	color:#FFFFFF;
}
.showdiv .nav-tabs > li > a {
	background: #4d4c4c; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #4d4c4c 0%, #1b1b1b 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4c4c), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #4d4c4c 0%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #4d4c4c 0%,#1b1b1b 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #4d4c4c 0%,#1b1b1b 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #4d4c4c 0%,#1b1b1b 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4c4c', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
/*	color:#FFFFFF;
	padding:4px 10px;
	border-radius:0;
	line-height:48px !important;
	border: 1px solid transparent;
	display:block;
}
.showdiv .nav-tabs > li > a:hover {
	background: #4d4c4c; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #4d4c4c 0%, #1b1b1b 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4c4c), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #4d4c4c 0%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #4d4c4c 0%,#1b1b1b 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #4d4c4c 0%,#1b1b1b 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #4d4c4c 0%,#1b1b1b 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4c4c', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
/*	color:#FFFFFF;
	border: 1px solid transparent;
}
.showdiv .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background: #00598a; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #00598a 0%, #002844 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00598a), color-stop(100%,#002844)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #00598a 0%,#002844 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #00598a 0%,#002844 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #00598a 0%,#002844 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #00598a 0%,#002844 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00598a', endColorstr='#002844',GradientType=0 ); /* IE6-9 */
/*	color:#fff;
}
.showdiv .nav-tabs > .active a:hover {
	background: #00598a; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #00598a 0%, #002844 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00598a), color-stop(100%,#002844)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #00598a 0%,#002844 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #00598a 0%,#002844 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #00598a 0%,#002844 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #00598a 0%,#002844 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00598a', endColorstr='#002844',GradientType=0 ); /* IE6-9 */
/*	color:#fff;
}
.content {
	background:url(../images/bestbuy/logo_panel.jpg) no-repeat bottom center #f8eb1c !important;
}
.facet_ordering {
	width: 98%;
	margin: 72px auto auto auto;
}
.pagination_div {
	position:fixed;
	bottom:0;
	height:45px;
	background:#e8e8e8;
	border-top:1px solid #c5c5c5;
	width:100%;
}
.tab_table {
	margin-bottom:55px;
}

.tab_table .searchhead {
	display: none;
}
*/
}


@media screen and (min-width : 1025px) and (max-width: 1366px){
.login_div { margin-top: 13.5% !important; }
}
@media screen and (min-width : 1366px){
.login_div { margin-top: 15.5% !important; }
}



/******************** MEDIA QUERYIES ENDS ***************************************/

.center_td input[type="image"] {
	margin:0 4px;
}
.center_td .opacity_input {
	opacity:0.35;
}

th.header { 
    background: url(../images/bestbuy/small.png) #006BA9 no-repeat right;   
    cursor: pointer; 
    font-weight: bold; 
	vertical-align: middle !important;
}
td.first_td {
	background:#006BA9;
	color:#FFF;
}
th.headerSortUp { 
    background: url(../images/bestbuy/asc.png) no-repeat right #4AA4D8; 
} 
th.headerSortDown { 
    background: url(../images/bestbuy/desc.png) no-repeat right #4AA4D8; 
}

.btnClsshow{
display: block !important;
}
.btnClshide{
display: none !important;
}


/* sorting end */
/*=== Loading ===*/
.widget-mask-main,.widget-mask-mid-content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, .35);
    z-index: 1000 !important;
}
.widget-mask-main {
	  position: fixed;
}

.widget-loading-main,.widget-loading-partial{
    display: block;
    top: 0;
    position: absolute;
    height: 100%;
	background-color: rgba(0, 0, 0, .35);
    /*background-color: rgba(0, 0, 0, .5);*/
}

.widget-loading-main {
	  width: 100%;
}

.widget-loading-partial {
	width: 100%;
}

.widget-loading-image,.widget-loading-image-account-activity {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    height: 100px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-mask-image: url(../images/bestbuy/spinner.png);
	background-image : url(../images/bestbuy/spinner.png);
  /*  background-color: #fff; */
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {from { -webkit-transform:rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
}
}

@-moz-keyframes spinnerRotate {from { -moz-transform:rotate(0deg);
}
to {
    -moz-transform: rotate(360deg);
}
}
.error_text {
	color: #ffffff !important;
	background-color: #FC8986 !important;
}

.facet_bdate {
	right: 673px !important;
}
.startdate {
    margin-top: 5px;
    position: absolute;
    left: 298px;
}
.btnClsshow{
	display: block !important;
}
.btnClshide{
	display: none !important;
}

/*=== End of Loading ===*/

/* .preview_date {
	background:url(../images/bestbuy/cal_grey.jpg) no-repeat #FFF 112px 6px;
	border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px 4px 4px 4px;
	font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
	width:120px;
}

.preview_date a {
	display:block;
	color:#999999;
	text-decoration:none;
} */

.search_tab, .results_div {
	width:98%;
	margin:auto;
}

.results_div {
	width:98%;
	margin:auto;
	margin-bottom:15px;
}

.results_div span {
	background:#ececec;
	border:1px solid #d6d6d6;
	padding:6px 15px;
	margin-right:8px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}

.remove_sku {
    background: url("../images/bestbuy/remove_sku_icon.png") no-repeat scroll 5px 6px #003B64;
    padding-left: 27px !important;
}


/* ***************************** date picker starts****************************** */
/* 
[class^="icon-"], [class*=" icon-"] {
	background-image: url("../images/bestbuy/glyphicons-halflings.png") !important;
}

.form_datetime input[type="text"] {
	width: 355px !important;
	padding: 4px 6px;
}

.form_datetime {
	margin-bottom: 0px !important;
}

.facetsaddmodal .form_datetime input[type="text"] {
	width: 96px !important;
	padding: 4px 6px;
}

.preview_date  .form_datetime input[type="text"] {
	width: 80px !important;
	padding: 4px 6px;
} */

[class^="icon-"], [class*=" icon-"] {
	background-image: url("../images/bestbuy/glyphicons-halflings.png") !important;
}

.well {
	padding: 0px !important;
	background-color: inherit !important;
	margin-bottom: 0px !important;
	border: 0px !important;
}

.well input[type="text"] {
	width: 383px;
	padding: 4px 6px;
}

.well .facetsaddmodal {
	width: 123px !important;
	padding: 4px 6px;
}

.facetsaddmodal #startDateDiv input[type="text"], .facetsaddmodal #endDateDiv input[type="text"], .preview_date #previewDateDiv  input[type="text"]{
	width: 123px;
}


/* *****************************date picker ends****************************** */
#synonumcontent tr:nth-child(2) td {
	background-color: #006BA9;
}
.sortclr{
	background: #4AA4D8 !important;   
}
.sortIcon:hover{
	cursor:pointer;
}
.tab_table .searchhead th{
	border-radius: 0px !important;
	border-left: 1px solid;
}
.ui-menu {
	z-index: 1050;
}

.namehead h4 {
	display: inline;
}

.namehead {
	padding: 10px;
}

a.cancel_btn_new {
	color:#FFEB18;
	font-weight:bold;
	margin-left:10px;
}
a.cancel_btn_new_blue {
	color: #084d7d;
	font-size: 12px;
	margin-left:10px;
	margin-top:3px;
}
.delete_color {
	font-weight: bold; 
	color:#FF3F3F;
}

.sort_facet {
	margin:0px 0 0 12px; padding-top:5px; font-size:13px; 
}

/* *****************************helper text start***************************** */
.inform{
	font-size: 11px;
	line-height: 10px;
	font-style: italic;
	cursor: initial;
	margin-top: 6px;
}
/* *****************************helper text end******************************* */
/* ****************************Banner Keyword Search starts******************* */
.keyword_search {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width:98%;
	margin:auto auto 8px auto;
	border:1px solid #006ba9;
}
.keyword_search h1 {
	background:#006ba9;
	margin:0;
	line-height:32px;
	padding:0 0 0 8px;
	font-size:13px;
	color:#FFFFFF;
}
.keyword_search .table, .keyword_search .table input {
	margin:0 !important;
}
/* ****************************Banner Keyword Search ends******************* */

/* *****************************header styles start****************************** */
b.pipe {
font-weight: lighter;
font-size: 23px!important;
bottom: -4px;
position: relative;
height: 18px;
display: inline-block;
}
#useradmin:hover, #removeSku:hover, #getcategorytree:hover, #logout:hover{
	border-bottom:1px solid #FFEb18;
}
/* *****************************header styles end******************************* */

.userpermissions{display:none;}
.userpermissions.show{display:block;}

/************* Popup Text color starts************/
.popupText {
	color : green;
}

.bbyellowbtndlt ,.bbyellowbtndlt:hover{
	background: #f8eb1c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8eb1c 0%, #d0c515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8eb1c), color-stop(100%,#d0c515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8eb1c 0%,#d0c515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8eb1c 0%,#d0c515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8eb1c 0%,#d0c515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8eb1c 0%,#d0c515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8eb1c', endColorstr='#d0c515',GradientType=0 ); /* IE6-9 */
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	border-radius: 6px;
	padding: 4px 15px;
}
/************* Delete Message starts*************/
#deletemsg{background:#003c66;}
#deletemsg .modal-header{background: #dedede;}
#deletemsg .modal-body{background: white;
margin-bottom: 17px;}
/************* Delete Message ends****************/

/************* RemoveSKU Header****************/
.bbmodal .modal-body .removeSKU h4 {
	 color: #333333;
	padding-left:18px;
}
/************* RemoveSKU Header****************/
